/* used to style the HTML page */

/*  Google Font - Source Sans Pro */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600&display=swap');

/* * (asterisk) is teh unversal selector - selects all elements in the HTML doc */
* {
    box-sizing: border-box;
}

/* formating the body html tag */
body {
    font-family: "Source Sans Pro", sans-serif; /* desired font + default font */
    margin: 0;
}