
/* || Imported Files */
/*  Google Font - Source Sans Pro */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600&display=swap');

/* || General Styles */
/* * (asterisk) is the unversal selector - selects all elements in the HTML doc */
* {
    box-sizing: border-box;
}

body {
    /* Background image Settings */
    background-image: url("images/WSPLunchroom.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center center;
    font-family: "Source Sans Pro", sans-serif; /* desired font + default font*/
    display:flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    background-color: white;
    margin: 2vh;
    width: 70vw;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px rgba(100, 100, 100, 0.5);
    text-align: center;
}

img {
    object-fit: cover;
    width: 95%;
    height: 80%;
  }

/* Currently only used for form labels */  
label {  
    color:black;
    font-size: 6vh;
}


/* | Table Formatting */
table{
    border: 2px solid black;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.5);
    width: 70vw;
    font-family: "Source Sans Pro", sans-serif; /* desired font + default font*/
    font-size: 1rem;
    text-align: left;
}

th, td{
    border: 2px solid black;
    /* top right bottom left */
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;

}

th{
    font:bold;
    background:rgb(252,66,54,0.5);
}

tr:nth-child(odd){
    background: #fc4236;

}

/* || Classes  */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

.questionPanel{
    margin: 1vw;
    padding: 10px;
    width: 40%;
    height: 70vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px rgba(100, 100, 100, 0.5);
    text-align: center;
    /* overflow: hidden; */

}
.textInput {
    width: 37vw;
    height: 5vh;
    font-size: 5vh;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}


/* || IDs */
#instructions{
    width: 70vw;
    height: 10vh;
}

#formBtn{
    margin: 4vh;
    /* Old colour #4370E7 */
    background-color: #fc4236;
    width: 25vw;
    border:black;
    border-radius: 5px;
    /* sets color of font */
    color: white; 
    cursor: pointer;
    font-size: 1rem;
    padding: 1.1rem; 

}

#formBtn:hover{
    /* old color #1f54e7 */
    background-color: #c9382e;
}

#startOverBtn{
    margin: 10px;
    background-color: #fc4236;
    /* remove border so it appears rounded at the bottom */
    border: none;
    box-shadow: 0 0 5px 5px rgba(100, 100, 100, 0.5);
    border-radius: 10px;
    /* sets color of font */
    color: white; 
    cursor: pointer;
    /* changes it to a finger pointing */
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 1rem;
    padding: 1.1rem; 
    width: 70vw;
}

#startOverBtn:hover{
    background-color: #c9382e;;
}

#checkMarkImg{
    width: 40vw;
    height: 40vh;
    border:#fc4236;
    border-radius: 10px;
    
}

#ansSubH2{
    width:40vw;
}
